.LoginClass{
    margin-top: 65px;
    width: 25%;
    height: 600px;
    background-color: var(--card-color);
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 10px;
    gap:20px;
    position: relative;
    box-shadow: 1px 1px rgb(141, 141, 172,0.4);
}
.divInput{
    margin-top: 25px;
}
.LoginPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
}

.LoginClass input {
    width: 300px;
    height: 45px;
    padding: 0 15px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    background-color: var(--text-color);
    color: black;
    outline: none;
    font-size: 15px;
}
.LoginClass input:focus {
    outline: 2px solid rgb(115, 127, 238);
}
.LoginClass label{
    color: var(--text-color);
    font-size: 20px;
}
.divHeader{
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    width: 75%;
    height: 8%;
    background-color:var(--text-color);
    margin-top: 30px;
    border-radius: 10px;
}
.ButtonHeader{
    width: 100%;
    background-color:var(--text-color); 
    color: black;
    border-color: var(--text-color);
    border-radius: 10px;
    font-size: 20px;
}
.ButtonHeader.active{
    background-color: var(--card-color);
    color: var(--text-color);
}
.signClass{
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ButtonSubmit{
    position: absolute;
    width: 200px;
    height: 55px;
    border-radius: 10px;
    left: 50%;
    color:black;
    background-color:var(--text-color) ;
    top :87%;
    transform: translateX(-50%);
    box-shadow: 1px 1px rgba(230, 230, 235, 0.4);
    font-size: 18px;
}
.errorText {
    color: rgb(246, 114, 114);
    position: absolute;
    bottom: 110px; 
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

@media (max-width: 767px) {
    .LoginClass{
        width: 65%;
        align-items:center;
        height: 550px;
        margin-top: 0px;
    }
    .divInput{
        margin-top: 10px;
    }
    .ButtonSubmit{
        transform: translateX(-50%);
        top: 84%;
        left: 50%;
        position: absolute;
    }
    .errorText {
        top: 77%;
    }
    .LoginClass input {
        width: 70%;
        height: 30px;
        border-radius: 5%;
    }
    .ButtonHeader{
        width: 100%;
        height: 100%;
    }
}