.CompanyClass{
    padding-top: 80px;
    display: flex;
    flex-direction:column ;
    margin-left: 25px;
    color: var(--text-color);
}
.CompanyClass h1{
    font-size: 30px;
}
.CompanyClass h3 {
    font-size: 20px;
}
.CompanyClass p {
    font-size: 18px;
}
.exploreClass p {
    font-size: 18px;
}
.exploreClass{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.exploreClass svg{
    margin-top: 22px;
    margin-left: 10px;
    width: 40px;
    height: 25px;
}
.exploreClass h3{
    font-size: 20px;
}
.whyClass{
    margin-top: 50px;
    list-style: none;
    margin-bottom: 50px;
}
.whyClass ul{
    font-size: 18px;
}
.question{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.question a{
    color: var(--text-color);
    margin-top: 25px; 
    margin-left: 20px;
    font-size: 20px;
}

@media (max-width:767px) {
    .CompanyClass{
        margin-right: 30px;
    }
    .question a{
        font-size: 18px;
    }
    .question h3{
        font-size: 18px;
    }
}