.HomeClass {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.HeroSection {
    position: relative;
    width: 30%;
    display: flex;
    justify-content: center;
}

.HomeClassImg {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin-top: 95px;
    border-radius: 3px;
    object-fit: contain;
}

.HeroContent {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.ButtonShop {
    width: 120px;
    height: 50px;
    border-radius: 5px;
}

.HeroContent:hover {
    transform: translate(-50%, -50%) scale(1.2);
}
.photoClass {
    width: 35%;
    margin-top: 95px;
    margin-left: auto;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 0;
    row-gap: 15px;       
    align-content: start; 
    height: fit-content;
    box-sizing: border-box;
}

.ClassImg {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    display: block;
    border-radius: 5px;
    object-fit: cover;
}




@media (max-width: 767px) {

    .HomeClass {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .HeroSection {
        width: 100%;
    }

    .HomeClassImg {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-top: 90px;
    }

    .HeroContent {
        left: 50%;
        top: 42%;
        transform: translate(-50%, -50%);
    }

    .ButtonShop {
        width: 120px;
        height: 50px;
    }

    .photoClass {
        width: 100%;
        margin-top: 50px;
        padding: 0 10px;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        box-sizing: border-box;
    }

    .ClassImg {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

}