.HomeClass {
    width: 100%;
    min-height: 500px;
    display:flex;
    flex-direction: row;
}

.HeroSection {
    position: relative;
    width: 100%;
    display: flex;
}

.HomeClassImg {
    width: 50%;
    height: auto;
    margin-top: 95px;
    border-radius: 3px;
    object-fit: contain;
}

.HeroContent {
    position: absolute;
    left: 50%;
    top: 50%;
}
.ButtonShop {
    width: 120px;
    height: 50px;
    border-radius: 5px;
}

.HeroContent:hover {
    transform: translate(-50%, -50%) scale(1.2);
}

.photoClass {
    margin-top: 95px;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 400px);
    gap: 25px;
    justify-content: center;
}

.ClassImg {
    width: 80%;
    height: 80%;
    border-radius: 5px;
}

@media (max-width: 767px) {

  .HomeClass {
      display: flex;
      flex-direction: column;
      width: 100%;
  }

  .HomeClassImg {
      width: 100%;
      max-width: 100%;
      height: auto;
      border-radius: 3px;
      margin-left: 0px;
    margin-right: 0px;
  }

  .photoClass {
    width: 100%;
    box-sizing: border-box;
    padding: 0 5px;
    display: grid;
    grid-template-columns: repeat(2, 190px);
    grid-template-rows: repeat(2, 190px);
    gap: 10px;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
  }

  .ClassImg {
      width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;
      border-radius: 5px;
      object-fit: cover;
  }

  .HeroContent {
      left: 50%;
      top: 40%;
      transform: translateX(-50%);
  }
}