html {
  background-color: var(--back-ground);
}

body {
  margin: 0;
  background-color: var(--back-ground);
  color: var(--text-color);
}

#root {
  min-height: 100vh;
  background-color: var(--back-ground);
  color: var(--text-color);
}
.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
   color: white; 
}


 .App-link {
  color: #61dafb;
}

 @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 :root {
  --back-ground: rgb(56, 56, 70);
  --back-footer: #0f1423;
  --back-nav: rgb(182, 181, 192);
  --text-color: aliceblue;
  --card-color: rgb(14, 14, 33);
  --header-color: #4b4b66;
}

.light {
  --back-ground: rgb(56, 56, 70);
  --back-footer: #0f1423;
  --text-color: aliceblue;
  --card-color: rgb(14, 14, 33);
  --header-color: #4b4b66;
}

.dark {
  --back-ground: #3b3c3d;
--back-footer: #0f0f0f;
--text-color: #e7ebf1;
--card-color: #1a1c22;
--header-color: #4F6FAE;
}
.light, .dark {
  min-height: 100vh;
  background-color: var(--back-ground);
  color: var(--text-color);
}
.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}
